body {
  color: #133dad;
  background-image: url("../images/sonicbackground.jpg");
  background-attachment: fixed;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 60px;

}


.scoreBoard, .instruction {
  background-color: #e39b0b;
  border-radius: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #e39b0b;
}

.page-header {
  background-color: #e39b0b;
  width: auto;
  border-radius: 15px;
  margin-top: 5px;
}

p {
  font-size: 12px;
}
 
button {
  background-color: #f5f7f6;
  border-radius: 15px;

}

.empty {
  margin: 50px;
}

html {
  min-height: 100%;
  position: relative;
}